{% load static from staticfiles %}
{% load header_tags %}
{% load mptt_tags %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="author"  content="Kamleshyadav"/>
        <meta name="MobileOptimized" content="320">

    <meta name='yandex-verification' content='74db8977798cb45b' />

{#        <meta name='yandex-verification' content='4a2d3a3e58d272a3' />#}

        <!-- main css -->
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/png" />
        <link rel="stylesheet" href="{% static "kastoreum/css/style.css" %}" media="screen"/>
        <link rel="stylesheet" href="{% static "kastoreum/css/bootstrap.css" %}" media="screen"/>
        <link rel="stylesheet" href="{% static "kastoreum/js/combo-select-master/combo.select.css" %}" media="screen"/>
{#        material#}
        <link rel="stylesheet" href="{% static "kastoreum/material/dist/css/material.css" %}" media="screen"/>
        <link rel="stylesheet" href="{% static "kastoreum/material/dist/css/ripples.css" %}" media="screen"/>

        <link rel="stylesheet" href="{% static "kastoreum/css/font-awesome.css" %}" media="screen"/>
{#        <link rel="stylesheet" href="{% static "kastoreum/css/animate.css" %}" media="screen"/>#}
        <link rel="stylesheet" href="{% static "kastoreum/css/swiper.min.css" %}" media="screen"/>
{#        fancybox#}
        <link rel="stylesheet" href="{% static "kastoreum/js/fancybox/source/jquery.fancybox.css" %}" media="screen"/>

        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,400,700,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        {% block head %}
            <title>Главная | товары народной медицины kastoreum.ru</title>
            <meta name="description"  content="Магазин товаров народной медецины kastoreum.ru. Бобровая струя, медвежий жир и другие товары у нас."/>
        {% endblock %}
        {% block page_css %}
            <link rel="stylesheet" href="{% static "kastoreum/js/plugin/revslider/css/settings.css" %}" media="screen"/>
            <link rel="stylesheet" href="{% static "kastoreum/js/plugin/owl-carousel/owl.carousel.css" %}" media="screen"/>
            <link rel="stylesheet" href="{% static "kastoreum/js/plugin/owl-carousel/owl.theme.css" %}" media="screen"/>
            <link rel="stylesheet" href="{% static "kastoreum/js/plugin/mediaelement/mediaelementplayer.css" %}" media="screen"/>
            <link rel="stylesheet" href="{% static "kastoreum/js/plugin/prettyphoto/css/prettyPhoto.css" %}" media="screen"/>
        {% endblock %}
    </head>
        <body class="super-body">

            <div class="nav-wrapper">
                <div class="container">
                    <div class="row">
                        {% block header %}
                            {% top_menu request %}
                        {% endblock %}
                    </div>
                </div>
            </div>

            <div class="sw-wrapper">
                {% block swiper %}
                {% endblock %}
            </div>

            <div class="content-wrapper">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                            {% cart_menu request %}

                            <div class="sidebar">
                                <h2>Список Категорий</h2>
                                <ul>
                                    {% category request  %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">

                            <ol class="breadcrumb">

                                    {% if request.path_info == "/" %}
                                        <li class="active">Главная</li>
                                    {% else %}
                                        <li><a href="/">Главная</a></li>
                                    {% endif %}
                                </li>
                                {% for breadcrumb in request.breadcrumbs %}
                                    {% if not forloop.last %}
                                        <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
                                    {% else %} <li class="active">{{ breadcrumb.name }}</li> {% endif %}
                                {% endfor %}
                            </ol>

    {#                        <ul class="breadcrumb" style="margin-bottom: 5px;">#}
    {#                            <li><a href="javascript:void(0)">Home</a></li>#}
    {#                            <li><a href="javascript:void(0)">Library</a></li>#}
    {#                            <li class="active">Data</li>#}
    {#                        </ul>#}


                            <div class="row">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>

                        {% block articles %}
                        {% endblock %}
                    </div>
                </div>

            </div>
            <div class="footer-wrapper content-wrapper">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                            <div class="container">
                                <div class="row">
                                    {% block footer %}
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 namber_footer">
                                            <h3><a href="/page/kontakt/">Контакты</a></h3>
                                            <p>телефон: +7(495)774-23-21</p>
                                            <p>электронная почта: kastoreum@mail.ru</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <h4><a href="/page/oplata/">Способы оплаты</a></h4>
                                            <a href="/page/oplata/"><img  height="80px" class="image_footer" src= "{% static "kastoreum/images/oplata.jpg" %}" alt=""/></a>
                                        </div>
                                        <div class="col-xs-12 col-xm-4 col-md-4 col-lg-4">
                                            <h3><a href="/page/dostavka/">Способы доставки</a></h3>
                                            <a href="/page/dostavka/"><img  height="80" class="image_footer" src= "{% static "kastoreum/images/dostavka.jpg" %}" alt=""/></a>
                                        </div>

                                        <div>
{#                                                        google analytics#}
                                        <script>

                                              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                                              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                                              ga('create', 'UA-67667219-1', 'auto');
                                              ga('send', 'pageview');

                                        </script>
                                                                                            <!-- Yandex.Metrika counter -->
                                            <script type="text/javascript">
                                            (function (d, w, c) {
                                                (w[c] = w[c] || []).push(function() {
                                                    try {
                                                        w.yaCounter32411555 = new Ya.Metrika({id:32411555,
                                                                webvisor:true,
                                                                clickmap:true,
                                                                trackLinks:true,
                                                                accurateTrackBounce:true});
                                                    } catch(e) { }
                                                });

                                                var n = d.getElementsByTagName("script")[0],
                                                    s = d.createElement("script"),
                                                    f = function () { n.parentNode.insertBefore(s, n); };
                                                s.type = "text/javascript";
                                                s.async = true;
                                                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                                                if (w.opera == "[object Opera]") {
                                                    d.addEventListener("DOMContentLoaded", f, false);
                                                } else { f(); }
                                            })(document, window, "yandex_metrika_callbacks");
                                            </script>
                                            <noscript><div><img src="//mc.yandex.ru/watch/32411555" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                                            <!-- /Yandex.Metrika counter -->
{#                                            <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=r3Ph-Ao11UqZpy-gAnDUGJfKagQNPfns&width=600&height=450"></script>#}
                                        </div>
{#    защита контента#}
    <script type="text/javascript">
        document.ondragstart = test;
        document.onselectstart = test;
        document.oncontextmenu = test;
        function test() {
            return false;
        }
        document.oncontextmenu;
        function catchControlKeys(event){
            var code=event.keyCode ? event.keyCode : event.which ? event.which : null;
            if (event.ctrlKey){
                // Ctrl+U
                if (code == 117) return false;
                if (code == 85) return false;
                // Ctrl+C
                if (code == 99) return false;
                if (code == 67) return false;
                // Ctrl+A
                if (code == 97) return false;
                if (code == 65) return false;
            }
        }
    </script>
{#    -------------------------------------------#}
                                    {% endblock  %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        <script type="text/javascript" src="{% static "kastoreum/js/jquery-1.11.1.js" %}"></script>
        <script type="text/javascript" src="{% static "kastoreum/js/jquery.cookie.js" %}"></script>
        <script type="text/javascript" src="{% static "kastoreum/js/jquery-validation-1/dist/jquery.validate.min.js" %}"></script>
        <script type="text/javascript" src="{% static "kastoreum/js/jquery-validation-1/dist/localization/messages_ru.min.js" %}"></script>
        <script type="text/javascript" src="{% static "kastoreum/js/bootstrap.js" %}"></script>
{#            fancybox#}
        <script type="text/javascript" src="{% static "kastoreum/js/fancybox/source/jquery.fancybox.js" %}"></script>
{#            material#}
            <script type="text/javascript" src="{% static "kastoreum/material/dist/js/material.min.js" %}"></script>
            <script type="text/javascript" src="{% static "kastoreum/material/dist/js/ripples.min.js" %}"></script>
            <script>$('.dropdown-toggle').dropdown();</script>
            <script>$.material.init()</script>

            <script  type="text/javascript" src="{% static "kastoreum/js/swiper.min.js" %}"></script>
            <script type="text/javascript" src="{% static "kastoreum/js/combo-select-master/jquery.combo.select.js" %}"></script>
            <script>


                var swiper = new Swiper('.swiper-container', {
                    pagination: '.swiper-pagination',
                    nextButton: '.swiper-button-next',
                    prevButton: '.swiper-button-prev',
                    paginationClickable: true,
                    spaceBetween: 50,
                    centeredSlides: true,
                    autoplay: 8500,
                    autoplayDisableOnInteraction: false
                });
            </script>
{% block page_js %}
<script>
    $(function(){
        if (window.matchMedia("(min-width: 1000px)").matches) {
            $(window).scroll(function() {
            var top = $(document).scrollTop();
            if (top < 250) {
                $(".sidebar").css({top: '0', position: 'relative'});
                $(".cart_menu").css({top: '0', position: 'relative'});
                }
            else {
                $(".sidebar").css({top: '130px', position: 'fixed'});
                $(".cart_menu").css({top: '75px', position: 'fixed'});
                }
        });
        } else {
        }

    });
</script>
{#            <script type="text/javascript" src="{% static "kastoreum/js/plugin/appear/jquery.appear.js" %}"></script>#}
{#            <script type="text/javascript" src="{% static "kastoreum/js/plugin/count/jquery.countTo.js" %}"></script>#}
{#            <script type="text/javascript" src="{% static "kastoreum/js/plugin/mediaelement/mediaelement-and-player.js" %}"></script>#}
{#            <script type="text/javascript" src="{% static "kastoreum/js/plugin/mixitup/jquery.mixitup.js" %}"></script>#}
{#            <script type="text/javascript" src="{% static "kastoreum/js/plugin/modernizr/modernizr.custom.js" %}"></script>#}
{#            <script type="text/javascript" src="{% static "kastoreum/js/plugin/owl-carousel/owl.carousel.js" %}"></script>#}
{#            <script type="text/javascript" src="{% static "kastoreum/js/plugin/parallax/jquery.stellar.js" %}"></script>#}
{#            <script type="text/javascript" src="{% static "kastoreum/js/plugin/prettyphoto/js/jquery.prettyPhoto.js" %}"></script>#}
{#            <script type="text/javascript" src="{% static "kastoreum/js/plugin/revslider/js/jquery.themepunch.plugins.min.js" %}"></script>#}
{#            <script type="text/javascript" src="{% static "kastoreum/js/plugin/revslider/js/jquery.themepunch.revolution.js" %}"></script>#}
{#            <script type="text/javascript" src="{% static "kastoreum/js/plugin/single/single.js" %}"></script>#}
{#            <script type="text/javascript" src="{% static "kastoreum/js/plugin/wow/wow.js" %}"></script>#}
{#            <script type="text/javascript" src="{% static "kastoreum/js/grid-gallery.js" %}"></script>#}
{#            <script type="text/javascript" src="{% static "kastoreum/js/custom.js" %}"></script>#}

{% endblock %}
            <script type="text/javascript">
                (function() {
                    var script = document.createElement('script');
                    script.type = 'text/javascript'; script.async = true;
                    script.src = '//remonline.ru/static/js/remonline-widget.js';
                    document.getElementsByTagName('head')[0].appendChild(script);
                        })();
            </script>


<!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
    (function(){ var widget_id = 'wzJZlpJrlS';
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->
        </body>
</html>
