{% extends "base.html" %}
{% load static from staticfiles %}



{% block content %}

    <div class="col-md-12">
        <div class="row">

            <div class="col-md-12">
                <h1>{{ name }}</h1>

                <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
                    <input type="text" name="name" placeholder="Название"/>
                    <br/>
                    <lable>Текст</lable>
                    <br/>
                    <textarea name="text" id="" cols="30" rows="10"></textarea>
                    <br/>
                    <input type="file" name="file"/>
                    <br/>
                    <input type="submit" value="Сохранить" />
                </form>

            </div>

        </div>
    </div>

{% endblock %}