{% extends "base.html" %}
{% load static from staticfiles %}

{% block head %}
    <title>{{ category.meta_title }} | аптека здоровья kastoreum.ru</title>
    <meta name="description" content="{{ category.meta_description }}"/>
{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="row">
            {% for product in products %}

                    <div class="col-md-4 product">
                        <a href="/product/{{ product.slug }}"><img style="" src="/media/{{ product.get_image.image }}" alt=""/></a>
{#                        <p>{{ product.image.image }}</p>#}
                        <h3>{{ product.name }}</h3>
                        <p class="description_product">{{ product.description|truncatewords:12 }}</p>
                        <p>
                            <a class="" href="/product/{{ product.slug }}/">подробнее о товаре</a>
                        </p>
                        <p class="product_price">
                            <i class="fa fa-chevron-down"></i>
                            ЦЕНА : <b >{{ product.price }}</b>  рублей
                        </p>
                         <p class="price_select">
                            <i class="fa fa-chevron-down"></i>
                             ВЫБЕРИТЕ ВЕС
                             <select data-theme="bootstrap" name="parametr_weight" id="">
                                {% for parametr in product.list_parametr %}
                                    <option value="{{ parametr.price }}">{{ parametr.weight }} гр </option>
                                {% endfor %}
                            </select>
                        </p>
                        <form action="" method="post">{% csrf_token %}
                            <input type="hidden" class="product_id" name="id" value="{{ product.id }}"/>
                            <input type="hidden" class="parametr_price" name="parametr_price" value="{{ parametr.price }}"/>
                            <i class="fa fa-chevron-down"></i> Кол-во: <input size="2" class="count" type="text" name="count" value="1" />
                                <div class="btn btn-primary ajax-submit">
                                    <i class="mdi-action-add-shopping-cart"></i>
{#                                    <input type="submit" class="hidden_style" value="Добавить" />#}
                                    Добавить
                                </div>
                        </form>
                    </div>

            {% endfor %}
        </div>
    </div>
    <div id="complete-dialog" class="modal fade" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Поздравляем</h4>
          </div>
          <div class="modal-body">
            <p>
                Товар добавлен в корзину.
            </p>
          </div>
          <div class="modal-footer">
              <a href="/cart/" class="btn btn-primary"> Перейти в корзину</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block articles %}
{#    <div class="col-md-12">#}
{#        {% for article in articles %}#}
{#            <img src="/media/{{ article.image.url }}" alt=""/>#}
{#            <h4>{{ article.name }} - {{ article.date }}</h4>#}
{#            <p>{{ article.text }}</p>#}
{#             <a href="/article/{{ article.id }}">далее</a>#}
{##}
{#        {% endfor %}#}
{#    </div>#}
{#    <div class="col-md-12">#}
{#        {% for page in pages  %}#}
{#            <img src="/media/{{ page.image.url }}" alt=""/>#}
{#            <h4>{{ page.name }} </h4>#}
{#            <p>{{ page.page }}</p>#}
{#            <a href="/page/{{ page.slug }}">подробнее</a>#}
{##}
{#        {% endfor %}#}
{#    </div>#}
{% endblock %}

{% block page_js %}

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();

        $('select').comboSelect({});

        $(".combo-dropdown li").on("click", function (){
            var price = $(this).attr('data-value');
{#            var test = $(this).parent(".product").children(".product_price b").html();#}
            $(this).parents(".product").children(".product_price").children("b").html(price);
{#            $(this).parents(".product").children(".parametr_price").val();#}
            $(this).parents(".product").children("form").children(".parametr_price").val(price);
{#            console.log(test);#}
        });


        $(".ajax-submit").on("click", function(){
            var csrftoken = $.cookie('csrftoken');
            var price = $(this).parents(".product").children(".price_select").children(".combo-select").children(".combo-dropdown").children(".option-selected").attr('data-value');
            var product_id = $(this).parents("form").children(".product_id").val();
            var count = $(this).parents("form").children(".count").val();
            console.log(price);
            console.log(product_id);
            $.post(
                "/ajax-cart/",
                {
                    csrfmiddlewaretoken: csrftoken,
                    parametr_price: price,
                    id: product_id,
                    count: count
                },
                onAjaxSuccess
            );
            function onAjaxSuccess(data) {
                $("#complete-dialog").modal();
            }
        });
	});
</script>

<script>
    $(function(){
        $(window).scroll(function() {
            var top = $(document).scrollTop();
            if (top < 70) {
                $(".sidebar").css({top: '0', position: 'relative'});
                $(".cart_menu").css({top: '0', position: 'relative'});
                }
            else {
                $(".sidebar").css({top: '130px', position: 'fixed'});
                $(".cart_menu").css({top: '75px', position: 'fixed'});
                }
        });
    });
</script>

{% endblock %}


