{% extends "base.html" %}
{% load static from staticfiles %}

{% block head %}
    <title>{{ category.meta_title }} | аптека здоровья kastoreum.ru</title>
    <meta name="description" content="{{ category.meta_description }}"/>
{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="row">
            {% for product in products %}

                    <div class="col-md-4 product">
                        <a href="/product/{{ product.slug }}"><img style="" src="/media/{{ product.get_image.image }}" alt=""/></a>
{#                        <p>{{ product.image.image }}</p>#}
                        <h3>{{ product.name }}</h3>
                        <p class="description_product">{{ product.description|truncatewords:12 }}</p>
                        <p>
                            <a class="" href="/product/{{ product.slug }}/">подробнее о товаре</a>
                        </p>
                        <p>
                            <i class="fa fa-chevron-down"></i>
                            ЦЕНА : <b>{{ product.price }}</b>  рублей
                        </p>
                         <p>
                            <i class="fa fa-chevron-down"></i>
                            ВЕС: {{ product.weight}} грамм
                        </p>
                        <form action="" method="post">{% csrf_token %}
                            <input type="hidden" name="id" value="{{ product.id }}"/>
                            <p>
                                <i class="fa fa-chevron-down"></i>
                                Кол-во: <input size="2" type="text" name="count" value="1" />
                            </p>
                            <div class="btn btn-primary">
                                <i class="mdi-action-add-shopping-cart"></i>
                                <input type="submit" class="hidden_style" value="Добавить в корзину" />
                            </div>
                        </form>
                    </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block articles %}
{#    <div class="col-md-12">#}
{#        {% for article in articles %}#}
{#            <img src="/media/{{ article.image.url }}" alt=""/>#}
{#            <h4>{{ article.name }} - {{ article.date }}</h4>#}
{#            <p>{{ article.text }}</p>#}
{#             <a href="/article/{{ article.id }}">далее</a>#}
{##}
{#        {% endfor %}#}
{#    </div>#}
{#    <div class="col-md-12">#}
{#        {% for page in pages  %}#}
{#            <img src="/media/{{ page.image.url }}" alt=""/>#}
{#            <h4>{{ page.name }} </h4>#}
{#            <p>{{ page.page }}</p>#}
{#            <a href="/page/{{ page.slug }}">подробнее</a>#}
{##}
{#        {% endfor %}#}
{#    </div>#}
{% endblock %}

