{% extends "base.html" %}
{% load header_tags %}
{% load static from staticfiles %}

{% block header %}
    {% top_menu request %}
        <!-- Slider main container -->
{% endblock %}

{% block swiper %}
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {% for slide in slides %}
                <div class="swiper-slide"><img src="/media/{{ slide.image }}" alt=""/></div>
            {% endfor %}
{#            <div class="swiper-slide"><img src="{% static 'kastoreum/images/peizagh.jpg' %}" alt=""/></div>#}

{#            <div class="swiper-slide"><img src="{% static 'kastoreum/images/peizagh.jpg' %}" alt=""/></div>#}
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
{% endblock %}

{% block content %}


    {{ STATIC_ROOT }}

    <div class="col-md-12">
        <div class="row">
            {% for product in products %}

                    <div class="col-md-4 product">
                        <a href="/product/{{ product.slug }}"><img style="" src="/media/{{ product.get_image.image }}" alt=""/></a>
                        <h3>{{ product.name }}</h3>
                        <p class="description_product">{{ product.description|truncatewords:12 }}</p>
                        <p>
                            <a class="" href="/product/{{ product.slug }}">подробнее о товаре</a>
                        </p>
                        <p class="product_price">
                            <i class="fa fa-chevron-down"></i>
                            ЦЕНА : <b>{{ product.price }}</b> рублей
                        </p>
                        <p>
                            <i class="fa fa-chevron-down"></i>
                            ВЫБЕРИТЕ ВЕС
                            <select data-theme="bootstrap" name="parametr_weight" id="">
                                {% for parametr in product.list_parametr %}
                                    <option value="{{ parametr.price }}">{{ parametr.weight }} гр </option>
                                {% endfor %}
                            </select>
                        </p>

                        <form action="" method="post">{% csrf_token %}
                            <input type="hidden" name="id" value="{{ product.id }}"/>
                            <input type="hidden" class="parametr_price" name="parametr_price" value="{{ product.list_parametr.first.price }}"/>
                            <p>
                                <i class="fa fa-chevron-down"></i>
                                Кол-во: <input size="2" type="text" name="count" value="1" />
                            </p>
                            <div class="btn btn-primary">
                                <i class="mdi-action-add-shopping-cart"></i>
                                <input type="submit" class="hidden_style" value="Добавить в корзину" />
                            </div>
                        </form>

{#                        <a class="btn btn-success" href="/product/{{ product.slug }}">подробнее</a>#}
                    </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block page_js %}

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();

        $('select').comboSelect({});

        $(".combo-dropdown li").on("click", function (){
            var price = $(this).attr('data-value');
{#            var test = $(this).parent(".product").children(".product_price b").html();#}
            $(this).parents(".product").children(".product_price").children("b").html(price);
{#            $(this).parents(".product").children(".parametr_price").val();#}
            $(this).parents(".product").children("form").children(".parametr_price").val(price);
{#            console.log(test);#}
        });
	});
</script>

<script>
    $(function(){
        $(window).scroll(function() {
            var top = $(document).scrollTop();
            if (top < 70)
                $(".sidebar").css({top: '0', position: 'relative'});
            else
                $(".sidebar").css({top: '75px', position: 'fixed'});
        });
    });
</script>

{% endblock %}



{#{% block articles %}#}
{#    <div class="col-md-12">#}
{#        {% for article in articles %}#}
{#            <img src="/media/{{ article.image.url }}" alt=""/>#}
{#            <h4>{{ article.name }} - {{ article.date }}</h4>#}
{#            <p>{{ article.text }}</p>#}
{#             <a href="/article/{{ article.id }}">далее</a>#}
{##}
{#        {% endfor %}#}
{#    </div>#}
{#    <div class="col-md-12">#}
{#        {% for page in pages  %}#}
{#            <img src="/media/{{ page.image.url }}" alt=""/>#}
{#            <h4>{{ page.name }} </h4>#}
{#            <p>{{ page.page }}</p>#}
{#            <a href="/page/{{ page.slug }}">подробнее</a>#}
{##}
{#        {% endfor %}#}
{#    </div>#}
{#{% endblock %}#}

