{% extends "base.html" %}
{% load static from staticfiles %}

{% block head %}
    {% if page.meta_title != "" %}
        <title>{{ page.meta_title }} | аптека здоровья kastoreum.ru</title>
    {% else %}
        <title>{{ page.name }} | аптека здоровья kastoreum.ru</title>
    {% endif %}
    {% if page.meta_description != "" %}
        <meta name="description" content="{{ page.meta_description }}"/>
    {% else %}
        <meta name="description" content="{{ page.page|truncatechars:160 }}"/>
    {% endif %}
{% endblock %}


{% block content %}

    <div class="col-md-12">

        <div class="row">

            <div class="col-md-4">
                {% if page.pageimage %}
                    <img style="height:150px;" src="/media/{{ page.pageimage.url}}" alt=""/>
                {% endif %}
{#                        <p>{{ product.image.image }}</p>#}
                <h3>{{ page.name }}</h3>
                <p>{{ page.page}}</p>
            </div>

{#            <div class="col-md-12">#}
{#                {% for article in articles  %}#}
{#                    <p>{{ article.name }} </p> <p> {{ article.text }} </p>#}
{#                    <a href="/article/{{article.id}}">далее</a>#}
{#                {% endfor %}#}
{##}
{#            </div>#}

        </div>
    </div>

{% endblock %}

{% block page_js %}
    <script type="text/javascript" src="{% static "kastoreum/js/form_validate.js" %}"></script>


<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
        $('select').comboSelect();

{#        пересчитываем стоимость доставки и корзины при загрузи страницы#}
        var csrftoken = $.cookie('csrftoken');
        var region = $(".region").html();
        $.post(
            "/ajax-delivery/",
            {
                csrfmiddlewaretoken: csrftoken,
                region: region
            },
            onAjaxSuccess
        );
        function onAjaxSuccess(data) {
            $(".item_price").html(data.item_price+" РУБ");
            $(".region").html(data.region );
            $(".delivery_price").html(data.delivery_price +" РУБ");
            $(".total_price").html(data.total_price+" РУБ");
            $("#id_city").val(data.region);
        }

{#        пересчитать доставку и стоимость по клику#}
        $(".combo-dropdown li").on("click", function (){
            var csrftoken = $.cookie('csrftoken');
            var region = $(this).attr('data-value');
            $.post(
                "/ajax-delivery/",
                {
                    csrfmiddlewaretoken: csrftoken,
                    region: region
                },
                onAjaxSuccess
            );
            function onAjaxSuccess(data) {
                $(".item_price").html(data.item_price+" РУБ");
                $(".region").html(data.region );
                $(".delivery_price").html(data.delivery_price + " РУБ");
                $(".total_price").html(data.total_price+" РУБ");
                $("#id_city").val(data.region);
            }
        });

	});
</script>

<script>
    $(function(){
        if (window.matchMedia("(min-width: 1000px)").matches) {
            $(window).scroll(function() {
            var top = $(document).scrollTop();
            if (top < 50) {
                $(".sidebar").css({top: '0', position: 'relative'});
                $(".cart_menu").css({top: '0', position: 'relative'});
                }
            else {
                $(".sidebar").css({top: '130px', position: 'fixed'});
                $(".cart_menu").css({top: '75px', position: 'fixed'});
                }
        });
        } else {
        }

    });
</script>
{% endblock %}