{% extends "base.html" %}
{% load static from staticfiles %}

{% block head %}
    {% if page.meta_title != "" %}
        <title>{{ page.meta_title }} | аптека здоровья kastoreum.ru</title>
    {% else %}
        <title>{{ page.name }} | аптека здоровья kastoreum.ru</title>
    {% endif %}
    {% if page.meta_description != "" %}
        <meta name="description" content="{{ page.meta_description }}"/>
    {% else %}
        <meta name="description" content="{{ page.page|truncatechars:160 }}"/>
    {% endif %}
{% endblock %}


{% block content %}

    <div class="col-md-12">

        <div class="row">

            <div class="col-md-4">
                {% if page.pageimage %}
                    <img style="height:150px;" src="/media/{{ page.pageimage.url}}" alt=""/>
                {% endif %}
{#                        <p>{{ product.image.image }}</p>#}
                <h3>{{ page.name }}</h3>
                <p>{{ page.page}}</p>
            </div>

{#            <div class="col-md-12">#}
{#                {% for article in articles  %}#}
{#                    <p>{{ article.name }} </p> <p> {{ article.text }} </p>#}
{#                    <a href="/article/{{article.id}}">далее</a>#}
{#                {% endfor %}#}
{##}
{#            </div>#}

        </div>
    </div>

{% endblock %}