{% extends "base.html" %}
{% load static from staticfiles %}

{% block head %}
    {% if product.meta_title != "" %}
        <title>{{ product.meta_title }}</title>
    {% else %}
        <title>{{ product.name }}</title>
    {% endif %}
    {% if product.meta_description != "" %}
        <meta name="description" content="{{ product.meta_description }}"/>
    {% else %}
        <meta name="description" content="{{ product.description|truncatechars:160 }}"/>
    {% endif %}
{% endblock %}

{% block content %}



    <div class="col-md-12 product cart">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6">
                {% for image in list_image%}
                    <a class="fancybox {% if not forloop.first %}hidden{% endif %}" rel="group" href="/media/{{ image.image }}"><img src="/media/{{ image.image }}" alt="{{ product.name }}"/></a>
                {% endfor %}
                <!-- Nav tabs -->
                <ul class="nav nav-tabs color-white">
                  <li class="active"><a href="#description" data-toggle="tab">Описание</a></li>
                  <li><a href="#characters" data-toggle="tab">Состав</a></li>
                  <li><a href="#video" data-toggle="tab">Видео</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane active" id="description">{{ product.description }}</div>
                  <div class="tab-pane" id="characters">{{ product.characters }}</div>
                  <div class="tab-pane" id="video">
                      <iframe width="408" height="270" src="https://www.youtube.com/embed/{{ product.video }}" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
{#                <p>{{ product.description }}</p>#}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                        <h1>{{ product.name }}</h1>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 price">
                        <p>{{ parametr.price }} р</p>
                    </div>
                </div>
                {% if product.article %}
                    <div class="list-group-separator separator"></div>
                    <p class="article">
                        {{ product.article.text |truncatewords:30|safe }}
                        <a href="/article/{{ product.article.id }}/">подробнее</a>
                    </p>
                {% endif %}
                <div class="list-group-separator separator"></div>
                <div class="row">
                    <div class="col-md-6">
                        <p><i class="fa fa-chevron-down"></i> Выберите вес: </p>

                        <form action="." method="post">
                            {% csrf_token %}
                            <select data-theme="bootstrap" name="parametr_weight" id="">
                                {% for parametr in list_parametr %}
                                    <option value="{{ parametr.price }}">{{ parametr.weight }} гр </option>
                                {% endfor %}
                            </select>
{#                            <input type="submit" value="пересчитать" />#}
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form action="" method="post">{% csrf_token %}
                            <input type="hidden" class="product_id" name="id" value="{{ product.id }}"/>
                            <input type="hidden" class="parametr_price" name="parametr_price" value="{{ parametr.price }}"/>
                            <i class="fa fa-chevron-down"></i> Кол-во: <input size="2" class="count" type="text" name="count" value="1" />
                                <div class="btn btn-primary ajax-submit">
                                    <i class="mdi-action-add-shopping-cart "></i>
{#                                    <input type="submit" class="hidden_style" value="Добавить" />#}
                                    Добавить
                                </div>
                        </form>

                    </div>

                </div>
                <div class="col-md-12 delivery">
                    <div class="row">
                        <div class="col-md-6 delivery-left ">
                            <div>
                                <a href="/page/dostavka/"> Быстрая доставка</a>
                            </div>
                            <div>
                                Свой склад
                            </div>
                        </div>
                        <div class="col-md-6 delivery-right">
                            <div>
                                Безналичная оплата
                            </div>
                            <div>
                                Гарантия качества
                            </div>
                        </div>
                        <div class="col-md-12  delivery-title">
                            <p>Свой склад</p>
                        </div>
                        <div class="text_delivery">
                            <p>При заказе до 12-00 в будни возможна вечерняя доставка в этот же день!
                            Возможность доставки в день заказа зависит от вашего адреса и количества заказов и уточняется оператором при подтверждении заказа.

                            Мы стараемся сделать так, чтобы наши покупатели смогли получить наши товары удобным для них способом. Для Москвы мы можем предложить следующие варианты доставки:
                            Курьер по Москве (в пределах МКАД)
                            Курьер по Московской области.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="complete-dialog" class="modal fade" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Поздравляем вы добавили в корзину</h4>
          </div>
          <div class="modal-body">
                <img src="" alt="" width="200" style="float:left;">
                <h2></h2>
                <p class="description_confirm"></p>
                <p class="weight_confirm"></p>
          </div>
          <div class="modal-footer">
              <a href="/cart/" class="btn btn-primary"> Перейти в корзину</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block page_js %}

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();

        $('select').comboSelect({
{#            comboClass         : 'combo-select', /* outer container class */#}
{#            comboArrowClass    : 'combo-select-arrow', /* arrow class */#}
{#            comboDropDownClass : 'combo-drop-down', /* dropdown class */#}
{#            inputClass         : 'combobox-input text-input', /* Input element class */#}
{#            disabledClass      : 'option-disabled', /* Disabled class */#}
{#            hoverClass         : 'option-hover', /* dropdown list hover class */#}
{#            selectedClass      : 'option-selected', /* dropdown list selected class */#}
{#            markerClass        : 'combo-marker', /* Search marker class */#}
{#            maxHeight          : 200, /* Max height of dropdown */#}
{#            themeClass         : '', /* Theme using external classes */#}
{#            extendStyle        : true /* Copy all inline styles from original select */#}
        });

        $(".combo-dropdown li").on("click", function (){
{#            alert("hello");#}
            var price = $(this).attr('data-value');
            var product_id = $(".product_id").val();
            var count = $(".count").val();
            $(".price p").html(price + " p");
            $(".parametr_price").val(price);
        });


        $(".ajax-submit").on("click", function(){
            var csrftoken = $.cookie('csrftoken');
            var price = $(".option-selected").attr('data-value');
            var product_id = $(".product_id").val();
            var count = $(".count").val();
            console.log(price);
            console.log(product_id);
            $.post(
                "/ajax-cart/",
                {
                    csrfmiddlewaretoken: csrftoken,
                    parametr_price: price,
                    id: product_id,
                    count: count
                },
                onAjaxSuccess
            );
            function onAjaxSuccess(data) {
                console.log(data);
                $("#complete-dialog .modal-body h2").html(data.product_name);
                $("#complete-dialog .modal-body img").attr('src', data.product_image);
                $("#complete-dialog .modal-body .description_confirm").html(data.description);
                $("#complete-dialog .modal-body .weight_confirm").html(data.weight);
                $("#complete-dialog").modal();
            }
        });

	});
</script>

<script>
    $(function(){
        if (window.matchMedia("(min-width: 1000px)").matches) {
            $(window).scroll(function() {
            var top = $(document).scrollTop();
            if (top < 250) {
                $(".sidebar").css({top: '0', position: 'relative'});
                $(".cart_menu").css({top: '0', position: 'relative'});
                }
            else {
                $(".sidebar").css({top: '130px', position: 'fixed'});
                $(".cart_menu").css({top: '75px', position: 'fixed'});
                }
        });
        } else {
        }

    });
</script>


{% endblock %}