{% extends "base.html" %}
{% load static from staticfiles %}

{% block head %}
    {% if product.meta_title != "" %}
        <title>{{ product.meta_title }} | аптека здоровья kastoreum.ru</title>
    {% else %}
        <title>{{ product.name }} | аптека здоровья kastoreum.ru</title>
    {% endif %}
    {% if product.meta_description != "" %}
        <meta name="description" content="{{ product.meta_description }}"/>
    {% else %}
        <meta name="description" content="{{ product.description|truncatechars:160 }}"/>
    {% endif %}
{% endblock %}

{% block content %}



    <div class="col-md-12">
        <div class="row">

            <div class="col-xs-4 col-xm-12 col-md-4 col-lg-3">
                <img style="width: 100%" src="/media/{{ product.get_image.image }}" alt=""/>
            </div>
            <div class="col-xs-8 col-xm-12 col-md-8 col-lg-9">
                <h1>{{ product.name }}</h1>
                <p>{{ product.description }}</p>
                <p> цена : {{ product.price }}  рублей</p>
                <p>вес: {{ product.weight }}</p>
                <form action="" method="post">{% csrf_token %}
                    <input type="hidden" name="id" value="{{ product.id }}"/>
                    <input size="2" type="text" name="count" value="1" placeholder="ШТ"/>
                        <div class="btn btn-primary">
                            <i class="mdi-action-add-shopping-cart"></i>
                            <input type="submit" class="hidden_style" value="Добавить" />
                        </div>
                </form>

            </div>

        </div>
    </div>

{% endblock %}
