{% extends "base.html" %}
{% load static from staticfiles %}

{% block head %}
    {% if product.meta_title != "" %}
        <title>{{ product.meta_title }} | аптека здоровья kastoreum.ru</title>
    {% else %}
        <title>{{ product.name }} | аптека здоровья kastoreum.ru</title>
    {% endif %}
    {% if product.meta_description != "" %}
        <meta name="description" content="{{ product.meta_description }}"/>
    {% else %}
        <meta name="description" content="{{ product.description|truncatechars:160 }}"/>
    {% endif %}
{% endblock %}

{% block content %}



    <div class="col-md-12 product cart">
        <div class="row">

            <div class="col-xs-4 col-xm-12 col-md-5 col-lg-6">
                <a class="fancybox" rel="group" href="/media/{{ product.get_image.image }}"><img src="/media/{{ product.get_image.image }}" alt=""/></a>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs color-white">
                  <li class="active"><a href="#description" data-toggle="tab">Описание</a></li>
                  <li><a href="#characters" data-toggle="tab">Хар-ки</a></li>
                  <li><a href="#video" data-toggle="tab">Видео</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane active" id="description">{{ product.description }}</div>
                  <div class="tab-pane" id="characters">круто</div>
                  <div class="tab-pane" id="video">
                      <iframe width="408" height="270" src="https://www.youtube.com/embed/{{ product.video }}" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
{#                <p>{{ product.description }}</p>#}
            </div>
            <div class="col-xs-8 col-xm-12 col-md-7 col-lg-6">
                <div class="row">
                    <div class="col-xs-8 col-xm-12 col-md-7 col-lg-7">
                        <h1>{{ product.name }}</h1>
                    </div>
                    <div class="col-xs-4 col-xm-12 col-md-5 col-lg-5 price">
                        <p>{{ parametr.price }} р</p>
                    </div>
                </div>
                {% if product.article %}
                    <div class="list-group-separator separator"></div>
                    <p class="article">
                        {{ product.article.text |truncatewords:30|safe }}
                        <a href="/article/{{ product.article.id }}/">подробнее</a>
                    </p>
                {% endif %}
                <div class="list-group-separator separator"></div>
                <div class="row">
                    <div class="col-md-6">
                        <p><i class="fa fa-chevron-down"></i> вес: {{ parametr.weight }}</p>

                        <form action="." method="post">
                            {% csrf_token %}
                            <select name="parametr_weight" id="">
                                {% for parametr in list_parametr %}
                                    <option value="{{ parametr.weight }}">{{ parametr.weight }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="пересчитать" />
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form action="" method="post">{% csrf_token %}
                            <input type="hidden" name="id" value="{{ product.id }}"/>
                            <input type="hidden" name="id_parametr" value="{{ parametr.id }}"/>
                            <i class="fa fa-chevron-down"></i> Кол-во: <input size="2" type="text" name="count" value="1" />
                                <div class="btn btn-primary">
                                    <i class="mdi-action-add-shopping-cart"></i>
                                    <input type="submit" class="hidden_style" value="Добавить" />
                                </div>
                        </form>

                    </div>

                </div>
                <div class="col-md-12 delivery">
                    <div class="row">
                        <div class="col-md-6 delivery-left ">
                            <div>
                                <a href="/page/dostavka"> Быстрая доставка</a>
                            </div>
                            <div>
                                Свой склад
                            </div>
                        </div>
                        <div class="col-md-6 delivery-right">
                            <div>
                                Безналичная оплата
                            </div>
                            <div>
                                Гарантия качества
                            </div>
                        </div>
                        <div class="col-md-12  delivery-title">
                            <p>Свой склад</p>
                        </div>
                        <div class="text_delivery">
                            <p>При заказе до 12-00 в будни возможна вечерняя доставка в этот же день!
                            Возможность доставки в день заказа зависит от вашего адреса и количества заказов и уточняется оператором при подтверждении заказа.

                            Мы стараемся сделать так, чтобы наши покупатели смогли получить наши товары удобным для них способом. Для Москвы мы можем предложить следующие варианты доставки:
                            Курьер по Москве (в пределах МКАД)
                            Курьер по Московской области
                            Доставка в постаматы PickPoint
                            Самовывоз
                            Подробнее о доставке...
                            Обратите внимание, что при заказе свыше 2000 рублей курьерская доставка в пределах МКАД осуществляется бесплатно.
                            В Вашем заказе товаров на 0 рублей.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block page_js %}

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>

<script>
    $(function(){
        $(window).scroll(function() {
            var top = $(document).scrollTop();
            if (top < 70)
                $(".sidebar").css({top: '0', position: 'relative'});
            else
                $(".sidebar").css({top: '75px', position: 'fixed'});
        });
    });
</script>

{% endblock %}