{% extends "base.html" %}
{% load static from staticfiles %}





{% block content %}

    <div class="col-md-12">
        <div class="row">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                      <tr>
{#                        <th></th>#}
                        <th>Продукт</th>
                        <th>Цена</th>
                        <th>Количество</th>
{#                          <th></th>#}
                      </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                            <tr>
{#                                <td></td>#}
                                <td>
                                    <p>{{ item.product.name }}</p>
                                    <img style="height:100px;" src="/media/{{ item.product.get_image.image }}" alt=""/>
                                </td>
                                <td>{{ item.parametr.price }}</td>
                                <td>
                                    <form action="" method="post">{% csrf_token %}
                                        <input type="text" name="count" class="" size="2" value="{{ item.count }}" />
                                        <input type="text" name="id" class="hidden" value="{{ item.id }}" />
                                        <input type="submit" name="change_count" class="btn btn-primary" value="Обновить" />
                                    </form>
                                    <form action="" method="post">{% csrf_token %}
                                        <input type="text" name="id" class="hidden" value="{{ item.id }}" />
                                        <input type="submit" name="delete" class="btn btn-danger" value="Удалить товар" />
                                    </form>
                                </td>
{#                                <td>#}
{#                                    #}
{#                                </td>#}
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
            <div class="col-md-6">
                <form action="" method="post">
                    {% csrf_token %}
                    <h3>Выберите регион</h3>
                      {{ delivery_form.region }}<br/>
{#                            <input type="submit" name="post_city" class="btn btn-primary" value="Посчитать доставку"/>#}
                </form>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr><td>ГОРОД</td><td class="region">{{ region }}</td></tr>
                            <tr><td>СУММА ДОСТАВКИ</td><td class="delivery_price">{{ cart_info.delivery_price }} руб</td></tr>
                            <tr><td>СТОИМОСТЬ КОРЗИНЫ </td><td class="item_price">{{ cart_info.item_price }} руб</td></tr>
                            <tr><td>ОБЩАЯ СУММА </td><td class="total_price">{{ cart_info.total_price }}  руб</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pure_form">
                    <h3>Введите ваши данные</h3>
                    <form action="" method="post" id="form_cart">{% csrf_token %}
                        {% if not user.is_authenticated %}
                            {{ form.as_ul }}
                        {% else %}
                            {{ pureForm.as_p }}<br/>
                        {% endif %}
                        <input type="submit" name="checkout" class="btn btn-primary " value="Оформить заказ" />
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block page_js %}
    <script type="text/javascript" src="{% static "kastoreum/js/form_validate.js" %}"></script>


<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
        $('select').comboSelect();

{#        пересчитываем стоимость доставки и корзины при загрузи страницы#}
        var csrftoken = $.cookie('csrftoken');
        var region = $(".region").html();
        $.post(
            "/ajax-delivery/",
            {
                csrfmiddlewaretoken: csrftoken,
                region: region
            },
            onAjaxSuccess
        );
        function onAjaxSuccess(data) {
            $(".item_price").html(data.item_price+" РУБ");
            $(".region").html(data.region );
            $(".delivery_price").html(data.delivery_price +" РУБ");
            $(".total_price").html(data.total_price+" РУБ");
            $("#id_city").val(data.region);
        }

{#        пересчитать доставку и стоимость по клику#}
        $(".combo-dropdown li").on("click", function (){
            var csrftoken = $.cookie('csrftoken');
            var region = $(this).attr('data-value');
            $.post(
                "/ajax-delivery/",
                {
                    csrfmiddlewaretoken: csrftoken,
                    region: region
                },
                onAjaxSuccess
            );
            function onAjaxSuccess(data) {
                $(".item_price").html(data.item_price+" РУБ");
                $(".region").html(data.region );
                $(".delivery_price").html(data.delivery_price + " РУБ");
                $(".total_price").html(data.total_price+" РУБ");
                $("#id_city").val(data.region);
            }
        });

	});
</script>

<script>
    $(function(){
        if (window.matchMedia("(min-width: 1000px)").matches) {
            $(window).scroll(function() {
            var top = $(document).scrollTop();
            if (top < 300) {
                $(".sidebar").css({top: '0', position: 'relative'});
                $(".cart_menu").css({top: '0', position: 'relative'});
                }
            else {
                $(".sidebar").css({top: '130px', position: 'fixed'});
                $(".cart_menu").css({top: '75px', position: 'fixed'});
                }
        });
        } else {
        }

    });
</script>
{% endblock %}